.navi {
	display: inline;
}

/*.header {
	background-color: white;
	height: 25px;
	border-radius: 10px;
}*/

.login {
	float: right;
	background-color: red;
	height: 150px;
	width: 320px;
	border-radius: 10px;
}

.content{
	text-decoration: none;
	text-transform:capitalize;
	width: 320px;
	border-radius: 10px;
}

.logout{
	text-transform:capitalize;
	display: inline-block;
	float: right;
	height:50px;
	width: 150px; 
	text-shadow: buttonface;
	color: #CD5C5C;
}

.top{
	text-align: justify;
	width: 1000px;
	color: brown;
	margin-right:auto;
	align-self:center;
	font-family: cursive;
}

.navmenu {
    background-color: #333;
    overflow: auto;
    white-space: nowrap;
}

.navmenu a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

.navmenu a:hover {
    background-color: #777;
}

.welcomemenu {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.welcomemenu a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}

.welcomemenu a.active {
  background-color: #4CAF50;
  color: white;
}

.welcomemenu a:hover:not(.active) {
  background-color: #555;
  color: white;
}

#avatar{	
	float: right;
	width: 75px;
	height: 90px;
	border-radius: 50px;
}

#home {
    width: 34px;
    height: 33px;   
}

#next {
	width: 33px;
    height: 33px;
}

.float{
	font-family: cursive;
	font-style: normal;
	}

input[type=search]{
    width: 150px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-image:url("");
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

input[type=search]:focus {
    width: 90%;
}

.column {
   float: left;
   width: 30%;
   padding-left: 30px
  }
  
.row:after {
    content: "";
    display: table;
    clear: both;
}

